.table-input-fields {
  line-height: 2em;
  position: relative;
  left: -190px;
}
.container-table {
  position: absolute;
  top: 25%;
  left: 50%;
}
.checkbox {
  text-align: left;
  padding-left: 25px;
}
.label-input-field {
  text-align: right;
}
table {
  border-collapse: collapse;
  text-align: left;
}
td {
  white-space: nowrap;
}
