body {
  font-size: medium;
  font-family: Arial;
  color: #232323;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
  color: #ff0000;
}
.field-validation-valid {
  color: #00ff00;
  display: none;
}
.valid {
  border: 1px solid #00ff00;
  background-color: #eeffee;
  background-image: url(Image/Check_ok.png);
  background-repeat: no-repeat;
  background-position: right;
}
.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee;
  background-image: url(Image/Delete_Icon_16.png);
  background-repeat: no-repeat;
  background-position: right;
}
.validation-summary-errors {
  font-weight: bold;
  text-align: center;
  background-color: #ff0000;
  position: absolute;
  top: 15%;
  width: 100%;
}
.validation-summary-valid {
  display: none;
}
.link-login,
.link-logout {
  position: absolute;
  top: 10%;
  right: 40px;
}
.link-login a,
.link-logout a {
  color: #000000;
  font-weight: bold;
}
.input-field,
.text-box.single-line {
  width: 200px;
}
.input-field:focus {
  background-color: #fcf8d7;
}
#logo-image {
  position: fixed;
  left: 35%;
  top: 5%;
  height: 7%;
}
#logo-text {
  position: fixed;
  left: 40%;
  top: 7%;
}
#footer-text {
  position: fixed;
  left: 35%;
  bottom: 3%;
}
footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #74b9f3;
}
header {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 15%;
  background-color: #1f48ce;
}
#logo:hover {
  cursor: pointer;
}
.Hidden {
  display: none;
}
.message {
  font-weight: bold;
  text-align: center;
  background-color: #ffff00;
  position: absolute;
  top: 15%;
  width: 100%;
}
