.grid {
    border: 2px solid;
    border-collapse: collapse;
    border-color: #000000;
    margin: 20px 5%;
    width: 90%;
}

.grid th {
    border: 1px solid;
    border-color: #000000;
    text-align: center;
}

.grid td {
    border: 1px solid;
    border-color: #000000;
    text-align: center;
    white-space: nowrap;
}

header,
.submit-delete,
.td-delete,
#filter-row,
#row-create { display: none; }