@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="link-logout">
    @{ Html.RenderAction(MVC.Account.UserInfo()); }
    @Html.ActionLink("Logout", MVC.Account.LogOff())
</div>
@RenderBody()