@{
    ViewBag.Title = "Unlock";
}
<link rel="stylesheet/less" type="text/css" href="~/Content/UnLockStyle.css">

<div class="center_line">
    <h2>@ViewBag.Username is unlocked.<br></h2>
    @Html.ActionLink("Go to home page", "List", "Manager")
</div>