@using OnlineBankingForManager.WebUI.HtmlHelpers
@model OnlineBankingForManager.WebUI.Models.ClientListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<link rel="stylesheet/less" type="text/css" href="~/Content/ListStyle.less">

<div class="scroll">
    <table class="grid">
        <tr>
            <th>Contract Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Data of Birth</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th>Deposit</th>
        </tr>
        
        @foreach (var item in Model.Clients)
        {
            Html.RenderPartial("ClientSummary", item);
        }
        <tr class="row-list" onclick="location.href = '@(Url.Action("Create", "Manager",new {returnUrl=Request.Url.PathAndQuery}))'" title="Press for create new client.">
            @for (int i = 0; i < 7; i++)
            {
                <td>...</td>
            }
        </tr>
    </table>
    <div class="pager">
   @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
    new { page = x, status = Model.CurrentStatusClient }))
</div>
</div>

<script>
    $('.grid .row-list .td-delete').click(function () {
        var c = confirm("Are you sure delete client ?");
        return c;
    });
</script>
